<!-- Edit With Click card start -->
<div class="card">
    <div class="card-header">
        <h5>Currency Exchange</h5>
        <span></span>

    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table " id="example-1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Currency Code</th>
                        <th>Currency Symbol</th>
                        <th>Exchange Rate</th>
                        <th>Number of Decimals</th>
                        <th>Thousands Separator</th>
                        <th>Decimal Point</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">3</th>
                        <td class="tabledit-view-mode"><span
                                class="tabledit-span">Mark</span>
                            {{!-- <input class="tabledit-input form-control input-sm"
                                type="text" name="First" value="Mark"> --}}
                        </td>
                        <td class="tabledit-view-mode"><span
                                class="tabledit-span">Mark</span>
                        </td>
                        <td class="tabledit-view-mode"><span
                                class="tabledit-span">Mark</span>
                           
                        </td>
                        <td class="tabledit-view-mode"><span
                                class="tabledit-span">Mark</span>
                           
                        </td>
                        <td class="tabledit-view-mode"><span
                                class="tabledit-span">Mark</span>
                           
                        </td>
                        <td class="tabledit-view-mode"><span
                                class="tabledit-span">Mark</span>
                            
                        </td>
                   </tr>
                </tbody>
            </table>
        </div>
        <div  class="text-right">
        <button type="button" class="btn btn-primary waves-effect waves-light add" onclick="add_row();">Add Row</button>
        </div>
    </div>
</div>
<!-- Edit With Click card end -->