
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-lg-8">
				<div class="form-group row">
					<div class="col-4">
						<input type="text" class="form-control" placeholder="search">
					</div>
					<button class="btn btn-sm btn-inverse"><i class="feather icon-search"></i></button>
				</div>
			</div>
			<div class="col-lg-4 pull-right text-right">
				<a class="btn btn-sm btn-inverse" href="/general_config/general_config_new" role="button">
				<i class="feather icon-plus"></i>New General Config</a>
				{{!-- <button class="btn btn-sm btn-inverse"><i class="feather icon-plus"></i> New customer</button> --}}
				<div class="dropdown-inverse dropdown open">
					<button class="btn btn-sm btn-inverse dropdown-toggle waves-effect waves-light " type="button" id="dropdown-customer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="feather icon-settings"></i></button>
					<div class="dropdown-menu" aria-labelledby="dropdown-customer" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
						<a class="dropdown-item waves-light waves-effect" href="/general_config/payment_type">Manage Payment Type</a>
                        <a class="dropdown-item waves-light waves-effect" href="/general_config/currency_exchange">Manage Currency Exchange</a>
						<a class="dropdown-item waves-light waves-effect" href="/general_config/">Manage Other</a>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">
								<input type="checkbox" value="" style="height: 18px; width: 18px;">	
							</th>
							<th class="pull-left text-left">Action</th>
							<th>Name</th>
							<th>Position</th>
							<th>Office</th>
							<th>Start date</th>
							<th>Salary</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">
								<input type="checkbox" value="" style="height: 18px; width: 18px;">	
							</td>
							<td>
								<div class="btn-sm dropdown-split-inverse">
									<button style="margin-top:-1em; margin-left: -1.5em;" type="button" class="btn btn-sm btn-inverse"><i class="icofont icofont-pencil-alt-2"></i>Edit</button>
									<button style="margin-top:-1em; margin-left: -0.6em;" type="button" class="btn btn-sm btn-inverse dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="sr-only"></span>
									</button>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(110px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
										<a class="dropdown-item waves-effect waves-light" href="#">Action</a>
										<a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
										<a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
									</div>
								</div>
							</td>
							<td>Tiger Nixon</td>
							<td>System Architect</td>
							<td>Edinburgh</td>
							<td>2011/04/25</td>
							<td>$320,800</td>
						</tr>
						<tr>
							<td class="text-center">
								<input type="checkbox" value="" style="height: 18px; width: 18px;">	
							</td>
							<td>
								<div class="btn-sm dropdown-split-inverse">
									<button style="margin-top:-1em; margin-left: -1.5em;" type="button" class="btn btn-sm btn-inverse"><i class="icofont icofont-pencil-alt-2"></i>Edit</button>
									<button style="margin-top:-1em; margin-left: -0.6em;" type="button" class="btn btn-sm btn-inverse dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="sr-only"></span>
									</button>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(110px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
										<a class="dropdown-item waves-effect waves-light" href="#">Action</a>
										<a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
										<a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
									</div>
								</div>
							</td>
							<td>Tiger Nixon</td>
							<td>System Architect</td>
							<td>Edinburgh</td>
							<td>2011/04/25</td>
							<td>$320,800</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
 </div>

