
<!-- Page body start -->
<div class="page-body" >
    <!-- Container-fluid starts -->
    <div class="container" id="printable">
        <!-- Main content starts -->
        <div>
            <!-- Invoice card start -->
            <div class="card">
                <div class="row invoice-contact">
                    <div class="col-md-12 d-flex justify-content-center text-center">
                        <div class="invoice-box row">
                            <div class="col-sm-12 ">
                                <table class="table table-responsive invoice-table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td><img src="../../assets/images/Logo_pos.png" class="m-b-10" alt=""></td>
                                        </tr>
                                        <tr>
                                            <td> <label>POS Cambodia</label><br><label>#11E, St. 371, Steng Meanchey, Phnom Penh of, Street 371, Phnom Penh</label><br><label>+885 15245852</label>
                                            </label> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row invoive-info">
                        <div class="col-md-8   invoice-client-info">
                            <h6>Client Information :</h6>
                           <table width="100%">
                                <tbody>
                                    <tr class="print-table">
                                        <td style="width: 30%;">ឈ្មោះអតិថិជន/Customer Name  :</td>
                                        <td> យើក   សុភត្រា</td>
                                    </tr>
                                    <tr class="print-table">
                                        <td style="width: 30%;">លេខទូរស័ព្ទ/Phone</td>
                                        <td> 070777887</td>
                                    </tr>
                                    <tr class="print-table">
                                        <td style="width: 30%;">លេខបន្ទប់/Unit Number</td>
                                        <td>2</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                         <div class="col-md-3 col-sm-6">
                            <h6 class="m-b-20">Invoice Number</h6>
                            <table>
                                    <tr>
                                        <td>Invoice No :</td>
                                        <td>N1234560</td>
                                    </tr>
                                    <tr>
                                        <td >ថ្ងៃជួល/Rental Date</td>
                                        <td><b>01-11-2021</b> to <b>30-11-2021</b></td>
                                    </tr>
                                    
                               </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                              
                                    <table  class="table table-bordered" width="100%">
                                            <thead>
                                            <tr>
                                                <th style="text-align: center;">ល.រ<br>N<sup>o</sup></th>
                                                <th style="text-align: center;">បរិយាយមុខទំនិញ<br>Description</th>
                                                <th style="text-align: center;">ខែមុន<br>Previous Month</th>
                                                <th style="text-align: center;">ខែនេះ<br>Current Month</th>
                                                <th style="text-align: center;">បរិមាណ<br>Quantity</th>
                                                <th style="text-align: center;">តម្លៃឯកតា<br>Unit Price</th>
                                                <th style="text-align: center;">តម្លៃសរុប<br>Total</th>
                                            </tr>
                                            </thead>
                                              <tbody id="datatable1">
                                             <tr>
                                                <td style="text-align: center;">1</td>
                                                <td>ថ្លៃជួលបន្ទប់ ( Rental Fee ) 1,115,610$</td>
                                                <td style="text-align: center;">150.00 $</td>
                                                <td style="text-align: center;">200.00 $</td>
                                                <td style="text-align: center;">1 Months</td>
                                                <td style="text-align: center;"><span style="text-align: left;">$</span>  1,115,610</td>
                                                <td style="text-align: center;"><span style="text-align: left;">$</span>  1,115,610</td>
                                            </tr>                                                                                                                    
                                             <tr>
                                                <td style="text-align: center;">2</td>
                                                <td>ថ្លៃភ្លើងនៅក្នុងបន្ទប់ ( Eletric Private ) (0.25$/kw)</td>
                                                <td style="text-align: center;">112 kw</td>
                                                <td style="text-align: center;">333 kw</td>
                                                <td style="text-align: center;">221 kw</td>
                                                <td style="text-align: center;"><span style="text-align: left;">$</span> 55.25</td>
                                                <td style="text-align: center;"><span style="text-align: left;">$</span> 55.25</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">3</td>
                                                <td>ថ្លៃទឹកនៅក្នុងបន្ទប់ ( Water Private ) (0.35$/m3)
                                                </td>
                                                <td style="text-align: center;">152 m3</td>
                                                <td style="text-align: center;">343 m3</td>
                                                <td style="text-align: center;">191 m3</td>
                                                <td style="text-align: center;"><span style="text-align: left;">$</span> 66.85</td>
                                                <td style="text-align: center;"><span style="text-align: left;">$</span> 66.85</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" style="text-align: center; font-weight: bold;">សរុប / Sub Total: </td>
                                                <td style="text-align: center;"><span style="text-align: left;">$</span> 1,115,610</td>
                                            </tr>                                                                                                                                                                                        
                                            <tr>
                                                <td colspan="6"></td>
                                                <td style="text-align: center;">៛ 1,115,610</td>
                                            </tr>
                                        </tbody>
                                        </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="span12">
                                    <table class="print-table" style="width: 100%; border: none; height: 200px;">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;">ហត្ថលេខា និងឈ្មោះអតិថិជន <br>Customer's Signature &amp;Name</td>
                                                <td style="text-align: center;">ហត្ថលេខា និងឈ្មោះរបស់អ្នកទទួល <br>Receiver's Signature &amp;Name</td>
                                            </tr>
                                            <tr style="hight: 80px;"></tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Invoice card end -->
        
            <div class="row text-center non_print ">
                <div class="col-sm-12 invoice-btn-group text-center">
                    <button type="button" 
                    class="btn btn-inverse btn-print-invoice​ m-b-10 btn-sm waves-effect waves-light m-r-20" onclick="printDiv('printable')">{{translation.Rep_Print}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Container ends -->
</div>
<!-- Page body end -->
<script>
    function printDiv(divName) {
        $(".non_print").css("display","none");
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();
        location.href ="/rental/collection";
        document.body.innerHTML = originalContents;
    }
</script>